// bower:scss
// endbower

body {
  background: #fafafa;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}

h1 {
  text-align: center;
  padding-top: 50px;
}
h2 {
  text-align: center;
}

.modal {
  background-color: rgba(.25, .25, .25, .5);
  position: fixed;
  top: 0px;
  bottom: 0px;
  left:0px;
  right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;

  .dialog {
    background-color: white;
    width: 400px;
    padding: 20px;

  }
}

.column {
  height: 100px;
  width: 100px;
  border: 2px solid blue;
  line-height: 100px;
  text-align: center;
  font-size: 30px;
  color: purple;
}

.row {
  display: flex;
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
  h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
  }
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
