doctype html
html(lang="en")
  head
    title Memory
    link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css" rel="stylesheet")
    link(href="styles/main.css" rel="stylesheet")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    script(src="scripts/main.js")
  body
    .deck
      .row
        .card(data-pick="ie")
          .sides
            .front
              i.fa.fa-internet-explorer
            .back
        .card(data-pick="firefox")
          .sides
            .front
              i.fa.fa-firefox
            .back
        .card(data-pick="safari")
          .sides
            .front
              i.fa.fa-safari
            .back
        .card(data-pick="chrome")
          .sides
            .front
              i.fa.fa-chrome
            .back
        .card(data-pick="ie")
          .sides
            .front
              i.fa.fa-internet-explorer
            .back
      .row
        .card(data-pick="chrome")
          .sides
            .front
              i.fa.fa-chrome
            .back
        .card(data-pick="safari")
          .sides
            .front
              i.fa.fa-safari
            .back
        .card(data-pick="firefox")
          .sides
            .front
              i.fa.fa-firefox
            .back
        .card(data-pick="opera")
          .sides
            .front
              i.fa.fa-opera
            .back
        .card(data-pick="opera")
          .sides
            .front
              i.fa.fa-opera
            .back
